body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}
ul{
  list-style-type: none;
  display: flex;
}
li{
  margin-left: 350px;
}
input[type="submit"]{
  padding: 10px;
  border-radius: 3px;
}
table, th, td{
  border: 2px solid black;
}

